.Current-Box{
    box-shadow: 0vh 0.2vh 1vh lightskyblue;
    border-bottom-left-radius: 2.5vh;
    border-bottom-right-radius: 2.5vh;
    height: 15vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    display: flex;
}
.Current-Box:hover{
  text-shadow : 0vh 0.5vh 2vh lightskyblue;

}
.Queue-Box {
  max-height: calc(28vh - 10px);
  height: fit-content;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1vh;
  box-shadow: 0vh .25vh 1vh lightskyblue;
  transition-duration: 0.3s;
  }
  
  .Queue-Box::-webkit-scrollbar {
  width: 8px;
  animation-duration: 0.3s;
  }
  
  .Queue-Box::-webkit-scrollbar-thumb {
  background-color: skyblue;
  border-radius: 8px;
  }
  
  .Queue-Box::-webkit-scrollbar-thumb:hover {
  background-color: gray;
  }
  
  .Queue-Item {
  border-color: skyblue;
  font-size: 2.25vh;
  height: fit-content;
  display: flex;
  text-align: center;
  color: rgb(190, 188, 188);
  padding-left: 3.5vh;
  overflow: visible;
  margin: auto;
  padding-top: 1vh;
  padding-bottom: 1vh;
  }
  
  .Queue-Text {
  margin: 0;
  }
.Queue-Item:hover{
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}
.circle-control {
  background-color: skyblue;
  border: transparent;
  color: white;
  height: 5.5vh;
  width: 5.5vh;
  border-radius: 1.75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
  font-size: 3.5vh;
}
.circle-control:hover{
  box-shadow: 0vh .5vh 1vh lightskyblue;

}
.controls{
  display: flex;
  margin-top: 5px;
  justify-content: space-between; 
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12.5px;
  align-items: center;
  color: white;
  z-index: 9998;
  text-align: center;
  
}
.remove-btn{
  border-radius: 50%;
  border: transparent;
  background-color: transparent;
  color: skyblue;
  margin-left: auto;
}
.remove-btn:hover{
  color: lightcoral;
  scale: 150%;
}
.config-btn{
  border-radius: 50%;
  border: transparent;
  background-color: transparent;
  color: skyblue;
}
.config-btn:hover{
  color: white;
  scale: 120%;
}
.top-items{
  display:flex;
}
.close-control{
  display: flex;
  justify-content: center;
  align-items: center;
  background-Color: transparent;
  border-color: transparent;
  box-sizing: content-box;
  border-radius: 2vh;
  border: 1vh solid transparent;

}
.close-control:hover{
  border-style: outset;
  border: 1vh solid rgba(204,80, 80, 0.8);
}

.check-control{
  display: flex;
  justify-content: center;
  align-items: center;
  background-Color: transparent;
  border-color: transparent;
  box-sizing: content-box;
  border-radius: 2vh;
  border: 1vh solid transparent;
  margin-left: 1vw;
}
.check-control:hover{
  border-style: outset;
  border: 1vh solid rgba(35, 234, 124, 0.8);
}

.dark-overlay {
  position: absolute;
  border-radius: 5vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle-control .tip-text {
  font-size: 2.5vh;
  visibility: hidden;
  width: fit-content;
  background-color: rgba(73,78,83,255);
  color: #fff;
  text-align: center;
  border-radius: 1vh;
  padding: 0 1vh 0 1vh;
  position: absolute;
  z-index: 1;
}

.circle-control:hover .tip-text {
  visibility: visible;
  transform: translateY(-150%)
}

.fade-enter {
  opacity: 0;
}

.fade-exit {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}
.Cur-Players{
  font-size: 3.5vh;
}