.Current-Box {
  box-shadow: 0vh 0.2vh 1vh lightskyblue;
  border-bottom-left-radius: 2.5vh;
  border-bottom-right-radius: 2.5vh;
  height: 15vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
  display: flex;
}
.Current-Box:hover {
  text-shadow: 0vh 0.5vh 2vh lightskyblue;
}
.Queue-Box {
  max-height: calc(28vh - 10px);
  height: fit-content;
  overflow: visible;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1vh;
  box-shadow: 0vh 0.25vh 1vh lightskyblue;
  transition-duration: 0.3s;
  padding-bottom: 0.5vh;
}

.Queue-Box::-webkit-scrollbar {
  display: none;
}
.Queue-Item {
  border-color: skyblue;
  height: 5vh;
  display: flex;
  text-align: center;
  color: rgb(190, 188, 188);
  padding-left: 0.5vh;
  overflow: visible;
  margin: auto;
  -webkit-overflow-scrolling: touch;
}
.Queue-Item:nth-of-type(odd) {
  background-color: #343a40 !important;
}
.Queue-Item:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.1);
}
.Queue-Text {
  margin: 0;
  overflow-x: auto;
  white-space: nowrap;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-size: 2.25vh;
}
.Queue-Text::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.Queue-Text::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.Queue-Item:hover {
  background-color: rgba(255, 255, 255, 0.1) important!;
  color: white;
}
.circle-control {
  background-color: skyblue;
  border: transparent;
  color: white;
  height: 5.5vh;
  width: 5.5vh;
  border-radius: 1.75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
  font-size: 3.5vh;
}
.circle-control:hover {
  box-shadow: 0vh 0.5vh 1vh lightskyblue;
}
.controls {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12.5px;
  align-items: center;
  color: white;
  z-index: 9997;
  text-align: center;
}
.remove-btn {
  border-radius: 50%;
  border: transparent;
  background-color: transparent;
  color: skyblue;
  margin-left: auto;
  position: relative;
  z-index: 0 !important;
}
.remove-btn:hover {
  color: lightcoral;
  transform: scale(1.5) translateY(-10%) translateX(5%);
}
.remove-btn:hover::after,
.remove-btn:focus::after,
.remove-btn:active::after {
  display: inline-block;
}
.add-btn {
  border-radius: 50%;
  border: transparent;
  background-color: transparent;
  color: skyblue;
  position: relative;
  z-index: 0 !important;
  transition: transform 0.2s;
  transform-origin: center center;
}

.add-btn:hover {
  color: lightgreen;
  transform: scale(1.5) translateY(-10%);
}
.add-btn::after {
  content: attr(data-tooltip);
  position: absolute;
  height: fit-content;
  width: fit-content;
  top: 1vh !important;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  background-color: black;
  color: #fff;
  white-space: nowrap;
  z-index: 9999;
}

.add-btn[disabled]:hover::after,
.add-btn[disabled]:focus::after,
.add-btn[disabled]:active::after {
  display: inline-block;
}
.config-btn {
  border-radius: 50%;
  border: transparent;
  background-color: transparent;
  color: skyblue;
}
.config-btn:hover {
  color: white;
  scale: 120%;
}
.top-items {
  display: flex;
}
.close-control {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  box-sizing: content-box;
  border-radius: 2vh;
  border: 1vh solid transparent;
}
.close-control:hover {
  border-style: outset;
  border: 1vh solid rgba(204, 80, 80, 0.8);
}

.check-control {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  box-sizing: content-box;
  border-radius: 2vh;
  border: 1vh solid transparent;
  margin-left: 1vw;
}
.check-control:hover {
  border-style: outset;
  border: 1vh solid rgba(35, 234, 124, 0.8);
}

.circle-control .tip-text {
  font-size: 2.5vh;
  visibility: hidden;
  width: fit-content;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 1vh;
  padding: 0 1vh 0 1vh;
  position: absolute;
  z-index: 1;
}

.circle-control:hover .tip-text {
  visibility: visible;
  transform: translateY(-150%);
}

.fade-enter {
  opacity: 0;
}

.fade-exit {
  opacity: 1;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}
.Cur-Players {
  font-size: 3.5vh;
}
.clear-icon {
  color: white;
  height: fit-content;
  width: fit-content;
  position: absolute;
  right: 0;
  bottom: 2vh;
  margin-right: 3vh;
  font-size: 3vh;
}
.clear-icon:hover,
.clear-icon:active,
.clear-icon:focus {
  color: coral;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .Queue-Item {
    padding-left: 0.75vh;
    font-size: 2vh;
  }
  .add-btn {
    margin-left: -0.5vh;
    margin-right: 0vh;
  }
  .add-btn:hover{
    transform: scale(1.25) translateY(-2.5%);

  }
  .Queue-Text{
    font-size: 1.75vh;
  }
  .remove-btn {
    margin-right: 0.25vh;
  }
  .remove-btn:hover{
    transform: scale(1.25) translateY(-.25%) translateX(.25%);
  }
  .remove-btn::after {
    font-size: 1.5vh;
    top: -30%;
  }
  .add-btn::after {
    font-size: 1.5vh;
    top: -30%;
  }
}

@media (min-width: 1500px) {
  .Queue-Box {
    max-height: calc(35vh - 10px);
  }
  .Queue-Item {
    padding-left: 0.5vh;
  }
  .add-btn {
    font-size: 2.5vh;
  }
  .remove-btn {
    padding-right: 2.75vh;
    font-size: 3vh;
  }
  .remove-btn::after {
    font-size: 1.5vh;
    top: -30%;
  }
  .add-btn::after {
    font-size: 1.5vh;
    top: -30%;
  }
  .Queue-Text{
    font-size: 2.5vh;
  }
}
