.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 180px) / 3)
}

.courts {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.courts p {
    color: black;
    margin: 0px;
}

.label {
    font-size: 20px;
    font-weight: 500;
}

.slots {
    height: 100%;
    width: 100%;
    background-color: #52b5f7;
    cursor: pointer;
    border-width: 0px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.slots:hover {
    background-color: #1278c8;
}