.content {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.text-content{
  position:absolute;
  top: 80%;
  left: 80%;
  padding: 5px 5px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 6, 0.20);
  color:white;
  font-size: 15px;
  border-radius: 20px;
  font-weight: 500;

}
