.right-icon {
  transform: rotate(90deg) translateX(0.18rem);
}
@media (max-width: 1025) {
  .right-icon {
    transform: rotate(90deg) translateX(0.15rem);
  }
}
@media (max-width: 500px) {
  .right-icon {
    transform: rotate(90deg) translateX(0.25rem);
  }
}
