.Header {
    position: relative;
    display: flex;
    height: 70px;
    padding: 15px;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 0px;
}

.login {
    position: absolute;
    top: 25px;
    right: 40px;
}