.Register {
  display: flex;
  height: 100%;
  padding: 50px 200px;
  gap: 5px;
}

.name-layer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 30px;
}

.Register .input {
  padding: 6px 10px;
  margin: 20px 0px;
  outline: 0px;
  width: calc(100% - 20px);
  border-width: 0px 0px 1px;
  border-color: #acacac;
  transition: 0.3s ease;
  font-size: 20px;
}

.Register .input:focus {
  border-color: #1278c8;
}

.error {
  border-color: red !important;
}

.error-message {
  color: red;
  margin: 0px;
}

.Register button {
  background-color: white;
  border: 1px solid;
  border-color: #acacac;
  color: #acacac;
  padding: 8px 24px;
  border-radius: 8px;
  cursor: pointer;
  height: fit-content;
  transition: 0.3s ease;
  font-size: 15px;
}

.Register button:hover {
  background-color: #1278c8;
  border-color: #1278c8;
  color: white;
}
