.Register {
  margin-top: 5vh;
  padding: 6.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0.3vh 0.3vh 1.8vh black;
  flex-direction: column;
  position: relative;
  width: 100vh;
  height: 80vh;
  overflow:hidden;
  margin: auto;
  background-color: #2a3744;
  border-radius: 4vh;
  box-shadow: 0 0.5vh 2.5vh black;
}

.Register .form {
  width: 100%;
  border-radius: 4vh;
  box-shadow: 0 0.5vh 2.5vh black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 1.3s ease, transform 1.3s ease;
}

.Register .form:hover {
  background-color: #2a3744;
  transform: scaleY(1.32) scaleX(1.25);
  transition: transform 1.3s ease;
}

.Register .input {
  width: 80%;
  height: 8vh;
  padding: 0.8vh 1vh;
  margin: 2vh 0;
  outline: none;
  border-width: 0 0 0.1vh;
  border-color: #acacac;
  transition: 0.3s ease;
  font-size: 2.5vh;
}

.Register .input:focus {
  outline: none;
  box-shadow: 0 0 2.5vh skyblue;
  border-color: skyblue;
}

.error {
  border-color: red !important;
}

.error-message {
  color: red;
  font-size: 2vh;
}

.Register button {
  background-color: white;
  border: 0.5vh solid;
  border-color: #acacac;
  color: #acacac;
  padding: 0.8vh 2.4vh;
  border-radius: 0.8vh;
  cursor: pointer;
  height: fit-content;
  transition: 0.3s ease;
  font-size: 3vh;
  min-width: 10vw;
  margin-top: 2vh;
  margin-bottom: 10vh;
  font-weight: 400;
}

.Register button:hover {
  background-color: skyblue;
  border-color: skyblue;
  color: white;
}

.label {
  color: #616161;
  font-size: 2vh;
}

.submit-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
}

.name-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.id-input {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  margin-top: 5vh;
  overflow: hidden;
}
@media (max-width: 700px) {
  .Register{
  width: 40vh;
  height: 65vh;
  padding: 3vh;
  }
  .Register h4{
    font-size: 6vh;
  }
  .Register .form {
    height: 80%;
  }
  .Register .input{
    height: 4vh;
  }
  .id-input {
    margin-top: 2vh;
  }
  .Register button{
    font-size: 2vh;
    min-width: 2vw;
    margin-top: 1vh;
    margin-bottom: 5vh;
  }
}