.Footer {
  position: relative;
  display: flex;
  padding: 10px;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;

}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-right {
  display: flex;
  gap: 20px;
}

.footer-text {
  margin: 0px;
  color: #a0a193;
  font-size: 10px;
}

img {
  color: #a0a193;
}
img:hover{
  scale: 110%;
}

