.Footer {
  position: relative;
  display: flex;
  padding: 10px;
  height: 7vh;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;

}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-right {
  display: flex;
  gap: 20px;
}

.footer-text {
  margin: 0px;
  color: #a0a193;
  font-size: 2.1vh;
}

img {
  color: #a0a193;
  width: 5vh;
  height: 5vh;
}
img:hover{
  scale: 110%;
}

@media (max-width: 600px) {
  .footer-text {
    margin: 0px;
    color: #a0a193;
    font-size: 1.5vh;
  }
}