.FreePlay {
  display: flex;
  height: 100%;
  padding: 0 50px 15px 50px;
  gap: 5px;
}

.label {
  font-size: 20px;
  font-weight: 500;
}

.time-slots {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.times {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
}

.box {
  border-radius: 10px;
  width: 190vh;
  height: 70vh;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.current{
  border: solid 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 30vh;

}
.queue{
  border: solid 1px;
  width: 100%;
  height: 10vh;
}
.court{
  box-shadow: 0 2vh 1.5vh rgba(0, 0, 0, 0.2);
  margin: 2.25vh;
  min-height: calc(80vh - 31px);
  transition: all 0.3s;
  background-color: #343a40 !important;
  border-radius: 5vh !important;
}
.court .court-title{
  color: white;
  width:50%;
  margin: 0px;
  font-size: 4.5vh;
  font-weight: bold;

}
.court:hover{
  transform: scale(1.05)
}

